name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - name: Organization Members
        uses: lowlighter/metrics@latest
        with:
          filename: profile/metrics.plugin.people.members.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: ZombiecraftProject
          base: ""
          plugin_people: yes
          plugin_people_types: members
          plugin_people_limit: 100
          plugin_people_size: 44
